@font-face {
  font-family: "TiemposHeadline-Regular";
  src: url("https://cdn.shopify.com/s/files/1/0424/8190/9915/files/TiemposHeadline-Regular.woff2?v=1679586469")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0424/8190/9915/files/TiemposHeadline-Regular.woff?v=1760321000")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "TiemposHeadline-Regular", sans-serif;
}

.layout-row .rich-text__blocks {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.layout-row .rich-text__blocks .rich-text__text {
  line-height: 2.1rem;
}

@media screen and (min-width: 750px) {
  .image-with-text__text-item {
    display: flex;
  }

  .image-with-text__media-item--top .image-with-text__text-item {
    justify-content: center;
  }

  .image-with-text__media-item--middle .image-with-text__text-item {
    justify-content: center;
  }

  .image-with-text__media-item--bottom .image-with-text__text-item {
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .layout-row .rich-text__blocks {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }

  .layout-row .rich-text__blocks .rich-text__text {
    margin-top: 0;
  }

  .rich-text__text.compress-width {
    max-width: 60%;
  }

  .image-with-text__content.compress-width {
    max-width: 50%;
  }

  .rich-text__text.semi-compress-width,
  .image-with-text__content.semi-compress-width {
    max-width: 80%;
  }
}

.header__icon.link,
.header__menu-item {
  font-family: "aeonikregular", sans-serif;
  font-weight: 600 !important;
  text-transform: uppercase;
  text-decoration: none;
  text-underline-offset: 0;
  letter-spacing: 0;
}

.header__icon {
  position: relative;
}

.header__icon .item-count {
  position: absolute;
  top: 0px;
  right: -20px;
  color: rgb(var(--color-button-text));
  background-color: rgb(var(--color-foreground));
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  padding: 0 8px;
}

@media screen and (min-width: 750px) {
  .header__icon .item-count {
    position: relative;
    right: 0;
    /* top: 10px;
    right: -25px; */
  }
}

.header__icon .display-mobile-only {
  margin-right: -2rem;
}

.header__icon .display-desktop-only {
  align-items: center;
  gap: 0.5rem;
}

.drawer__inner .cart__dynamic-checkout-buttons {
  margin: 0;
}

/* .drawer__footer
  .cart__dynamic-checkout-buttons
  .dynamic-checkout__content
  .wallet-cart-grid {
  display: flex;
  flex-direction: column !important;
} */

/* .multicolumn-card .multicolumn-card__info,
.image-with-text__content .image-with-text__text {
  font-size: 1.2rem;
} */

.marquee-wrapper {
  overflow: hidden;
}

.marquee-wrapper .node-marquee__el {
  /* width: 320px; */
  margin: 0 1rem;
  display: flex !important;
  align-items: center;
}

.marquee-wrapper .multicolumn-list__item {
  margin: 0;
}

.marquee-wrapper .marquee-item {
  width: 60px;
  margin: 0 1rem 0 5rem;
  display: flex;
}

.marquee-wrapper .marquee__image {
  width: 100%;
  height: auto;
  margin: auto;
}

.marquee-wrapper .marquee__image {
  padding: 0 1rem;
}

.multicolumn-list--row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.multicolumn-list--row .multicolumn-list__item {
  flex: 1 1 auto;
  min-width: 250px;
}

.multicolumn-list--row .multicolumn-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.multicolumn-list--row .multicolumn-card {
  background: none !important;
}

.multicolumn-list--row .multicolumn-card__image-wrapper {
  flex-shrink: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.multicolumn-list--row .multicolumn-card__info {
  padding: 2rem 1rem;
  flex: 1;
}

/* @media screen and (max-width: 749px) {
  .multicolumn-list--row .multicolumn-card {
    flex-direction: column;
  }
} */

.media-with-content__content-wrapper .header {
  padding: 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.media-with-content__content > .accordion__title {
  border: none;
  padding: 0.5rem 0;
  margin: 0;
}

.media-with-content__content .accordion__title h2.h1 {
  color: rgb(var(--color-foreground));
}

.media-with-content__content .accordion__title.active h2.h1 {
  color: rgb(var(--color-button));
}

.media-with-content__content .accordion__title,
.media-with-content__content .accordion__sub-title {
  color: rgb(var(--color-foreground));
  width: 100%;
  max-width: 100%;
  cursor: pointer;
}

.media-with-content__content .accordion__title h2.h1,
.media-with-content__content .accordion__content .accordion__sub-title h3 {
  margin: 0;
}

.media-with-content__content > .accordion__title .icon-caret {
  display: none;
}

.media-with-content__content .accordion__content .accordion__sub-title {
  border-bottom: solid 1px #fff3e6;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.media-with-content__content
  .accordion__content
  .accordion__sub-title:first-child {
  border-top: solid 1px #fff3e6;
}

.media-with-content__content .accordion__content,
.media-with-content__content .accordion__content .accordion__sub-title {
  line-height: 2rem;
}

.media-with-content__content .accordion__content .accordion__sub-title.active {
  border-bottom: none;
}

.media-with-content__content
  .accordion__content
  .accordion__sub-title.active
  svg.icon-caret {
  rotate: 180deg;
}

.media-with-content__content .accordion__content::-webkit-scrollbar {
  display: none;
}

.media-with-content__content .accordion__content,
.media-with-content__content .accordion__content .accordion__sub-content {
  max-height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: all 0.5s;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.media-with-content__content .accordion__content.show {
  padding-top: 1rem;
}

.media-with-content__content .accordion__content.show,
.media-with-content__content .accordion__content .accordion__sub-content.show {
  max-height: 1000px;
  margin: 0 0 1.5rem;
  overflow-y: auto;
}

.media-with-content__content .accordion__content .accordion__sub-content.show {
  padding: 1rem 0;
  margin: 0;
}

.media-with-content__content .accordion__content .accordion__sub-content {
  border-color: #fff3e6;
  padding: 0;
  margin: 0;
}

.media-with-content__content .accordion__content .accordion__title strong,
.media-with-content__content .accordion__content .accordion__sub-title strong {
  width: 75%;
  display: block;
}

@media screen and (min-width: 1025px) {
  .media-with-content__content .accordion__content .accordion__title strong,
  .media-with-content__content
    .accordion__content
    .accordion__sub-title
    strong {
    width: 50%;
  }
}

.media-with-content__content .accordion,
.media-with-content__content .collapsible-content__grid-item {
  width: 100%;
}

.media-with-content__content .accordion__content .accordion__content {
  padding: 1rem 0;
}

.media-with-content .collapsible-content__grid {
  width: 100%;
}

.multicolumn-list .card__style--overlay .multicolumn-card__info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  z-index: 1;
}

.multicolumn-list .card__style--overlay h3.inline-richtext {
  position: absolute;
  right: -14rem;
  top: 18rem;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: right;
  width: 90%;
  transform: rotate(-0.25turn);
}

@media screen and (min-width: 414px) {
  .multicolumn-list .card__style--overlay h3.inline-richtext {
    right: -16rem;
    top: 21rem;
  }
}

@media screen and (min-width: 750px) {
  .multicolumn-list .card__style--overlay h3.inline-richtext {
    top: 32rem;
    right: -26rem;
  }
}

@media screen and (min-width: 820px) {
  .multicolumn-list .card__style--overlay h3.inline-richtext {
    top: 33rem;
    right: -28rem;
  }
}

@media screen and (min-width: 991px) {
  .multicolumn-list .card__style--overlay h3.inline-richtext {
    top: 14rem;
    right: -12rem;
  }
}

@media screen and (min-width: 1024px) {
  .multicolumn-list .card__style--overlay h3.inline-richtext {
    top: 14rem;
    right: -10rem;
  }
}

@media screen and (min-width: 1025px) {
  .multicolumn-list .card__style--overlay h3.inline-richtext {
    right: -10rem;
    top: 14rem;
  }
}

@media screen and (min-width: 1100px) {
  .multicolumn-list .card__style--overlay h3.inline-richtext {
    right: -12rem;
    top: 16rem;
  }
}

@media screen and (min-width: 1350px) {
  .multicolumn-list .card__style--overlay h3.inline-richtext {
    right: -15rem;
    top: 20rem;
  }
}

.multicolumn-list .card__style--overlay .rte {
  font-size: 1.5rem;
  line-height: 2.3rem;
}

.card__style--overlay .card__style--dark::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(85, 85, 85);
  background: linear-gradient(
    0deg,
    rgba(85, 85, 85, 1) 0%,
    rgba(255, 255, 255, 0) 100%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: -1;
}

@media screen and (min-width: 750px) {
  .multicolumn-list__item .row__layout {
    /* display: flex; */
    display: grid;
    grid-template-columns: 30% 65%;
    column-gap: 2rem;
  }

  .multicolumn-list__item .row__layout .multicolumn-card__image-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    margin: 0;
  }

  .multicolumn-list__item .row__layout .multicolumn-card__info {
    padding: 0 !important;
  }

  .multicolumn-list__item
    .row__layout
    .multicolumn-card__info
    h3.inline-richtext {
    font-family: "aeonikregular";
    font-size: 1.5rem;
  }
  .multicolumn-list__item .row__layout .multicolumn-card__info .rte {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.product .text__button-style {
  color: #b58870;
  font-size: 1.2rem;
  letter-spacing: 0;
  background: none;
  border: solid 1px #b58870;
  padding: 0.5rem 1rem;
  margin: 0 !important;
  display: inline-block;
}

.product .product-form__input {
  width: 100%;
  max-width: none;
}

.product .price-per-item__container {
  display: grid;
  grid-template-columns: 25% 70%;
  column-gap: 1rem;
}

@media screen and (min-width: 750px) {
  .product .price-per-item__container {
    grid-template-columns: 30% 65%;
  }
}

@media screen and (min-width: 1024px) {
  .product .price-per-item__container {
    grid-template-columns: 25% 70%;
  }
}

/* @media screen and (min-width: 1025px) {
  .product .price-per-item__container {
    grid-template-columns: 15% 83%;
    column-gap: 1.5rem;
  }
} */

.product .product-form__quantity .quantity__label {
  display: none;
}

.product .price-per-item__container .product-form,
.product .product-form .product-form__submit {
  margin: 0;
}

.product .quantity {
  width: auto;
  height: 44px;
}

.product .price-per-item__container .quantity__button {
  min-height: unset;
  height: 44px;
}

.product .quantity .quantity__button {
  width: 3rem;
}

.product .product-form .product-form__submit {
  font-weight: bold;
  text-transform: uppercase;
  min-height: calc(4.5rem + var(--buttons-border-width) * 2);
  margin-bottom: 1rem;
}

.product .product__review {
  position: relative;
  font-size: 1.3rem;
  line-height: 2rem;
  background: rgba(var(--color-button), 0.3);
  padding: 1rem 1.5rem 0.5rem;
}

.product .product__review::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 30px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent rgba(var(--color-button), 0.3) transparent
    transparent;
  transform: rotate(90deg);
}

.product .product__review p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.product .product__description {
  font-size: 1.3rem;
  line-height: 2.5rem;
}

.accordion .icon-caret {
  height: 1rem;
}

.reviews .slider-buttons {
  margin-bottom: 3rem;
}

.reviews .slider.slider--desktop .slider__slide {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
}

.reviews .slider.slider--desktop .multicolumn-card {
  box-sizing: border-box;
}

@media screen and (min-width: 750px) {
  .reviews .slider-buttons {
    margin-bottom: 2rem;
  }

  .reviews .slider.slider--desktop .slider__slide {
    flex-direction: row;
  }

  .reviews .slider.slider--desktop .multicolumn-card__image-wrapper {
    width: 30%;
  }

  .reviews .slider.slider--desktop .multicolumn-card {
    width: 65% !important;
    max-width: max-content;
    height: 100%;
  }
}

@media screen and (min-width: 820px) {
  .reviews .slider.slider--desktop .slider__slide {
    padding: 0 2rem;
  }

  .reviews .slider.slider--desktop .multicolumn-card__image-wrapper {
    width: 30%;
  }

  .reviews .slider.slider--desktop .multicolumn-card {
    width: 65% !important;
    max-width: max-content;
  }
}

@media screen and (min-width: 1025px) {
  .reviews .slider.slider--desktop .slider__slide {
    width: 60%;
    padding: 0;
    margin-right: 2rem;
    column-gap: 3rem;
  }
}

.review-list .multicolumn-card__image-wrapper .media {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.review-list .multicolumn-card__image-wrapper .media img {
  width: 100%;
}

.review-list__item .review-card {
  width: 100% !important;
  max-width: max-content;
  height: auto !important;
  margin-left: 0 !important;
  margin-bottom: 3rem;
}

.review-list__item .multicolumn-card__image-wrapper {
  padding: 0;
  margin-bottom: 3.5rem;
}

.review-list .review-card-with-photo::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 47%;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 17.3px 10px 0;
  border-color: transparent rgba(var(--color-button), 0.3) transparent
    transparent;
  transform: rotate(90deg);
}

@media screen and (min-width: 750px) {
  .review-list__item .multicolumn-card__image-wrapper {
    margin: 0;
  }

  .review-list .multicolumn-card__image-wrapper .media {
    width: 200px;
    height: 200px;
  }

  .review-list .review-card-with-photo::before {
    top: 40%;
    left: -1.5rem;
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 990px) {
  .review-list .multicolumn-card__image-wrapper .media {
    width: 210px;
    height: 210px;
  }
}

.reviews .title-wrapper-with-link {
  margin-bottom: 8rem;
}

.review-list .rte p {
  line-height: 2rem;
  margin: 0 0 1.5rem;
}

.review-list .review-card {
  height: 100%;
  margin-bottom: 0;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
}

.review-list .review-card .multicolumn-card__info {
  height: 100%;
  background: rgba(var(--color-button), 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-list.slider--desktop .slider__slide:first-child {
  margin-left: 0 !important;
}

.review-list .ratings {
  margin-bottom: 0.5rem;
  display: block;
}

.review-list .multicolumn-card__info h3.inline-richtext {
  font-size: 2rem;
  /* font-weight: bold; */
  max-width: 70%;
  margin: 0 0 1rem;
}

.review-list .multicolumn-card__info .footer-block__details-content {
  font-size: 1.3rem;
  margin-bottom: 0;
}

@media screen and (min-width: 750px) {
  .review-list .review-card {
    margin-bottom: 0;
  }

  /* .review-list .review-card .multicolumn-card__info {
    display: block;
  } */
}

@media screen and (min-width: 990px) {
  .review-list .multicolumn-card__info h3.inline-richtext {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

.reviews .slider-counter--total,
.collection .slider-counter--total {
  display: none;
}

.button,
.button-label,
.shopify-challenge__button,
.customer button {
  text-transform: uppercase;
}

.footer-block__details-content .list-menu__item {
  padding-bottom: 0 !important;
}

.newsletter-form__field-wrapper .field,
.footer-block__newsletter .newsletter-form__field-wrapper .field {
  gap: 1rem;
}

.newsletter-form__field-wrapper .field::after,
.footer-block__newsletter .newsletter-form__field-wrapper .field::after,
.footer__content-bottom-wrapper .localization-form__select:after {
  box-shadow: none;
}

.newsletter-form__field-wrapper .field .field__input,
.footer-block__newsletter .newsletter-form__field-wrapper .field__input,
.footer__content-bottom-wrapper .localization-form__select {
  background-color: rgb(var(--color-button-text));
  border: solid var(--inputs-border-width) rgba(var(--color-foreground), 0.1);
}

.footer-block__newsletter .newsletter-form__field-wrapper .button {
  min-width: calc(1rem + var(--buttons-border-width) * 2);
}

.display-mobile-only {
  display: flex;
}

.display-desktop-only {
  display: none;
}

@media screen and (min-width: 750px) {
  .display-mobile-only {
    display: none;
  }

  .display-desktop-only {
    display: flex;
  }
}
