@font-face {
  font-family: "TiemposHeadline-Regular";
  src: url("https://cdn.shopify.com/s/files/1/0424/8190/9915/files/TiemposHeadline-Regular.woff2?v=1679586469")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0424/8190/9915/files/TiemposHeadline-Regular.woff?v=1760321000")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "TiemposHeadline-Regular", sans-serif;
}

.header__icon.link {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-underline-offset: 0;
  letter-spacing: 0;
}

.footer-block__details-content .list-menu__item {
  padding-bottom: 0 !important;
}

.newsletter-form__field-wrapper .field,
.footer-block__newsletter .newsletter-form__field-wrapper .field {
  gap: 1rem;
}

.newsletter-form__field-wrapper .field::after,
.footer-block__newsletter .newsletter-form__field-wrapper .field::after,
.footer__content-bottom-wrapper .localization-form__select:after {
  box-shadow: none;
}

.newsletter-form__field-wrapper .field .field__input,
.footer-block__newsletter .newsletter-form__field-wrapper .field__input,
.footer__content-bottom-wrapper .localization-form__select {
  background-color: rgb(var(--color-button-text));
  border: solid var(--inputs-border-width) rgba(var(--color-foreground), 0.1);
}

.footer-block__newsletter .newsletter-form__field-wrapper .button {
  min-width: calc(1rem + var(--buttons-border-width) * 2);
}

.multicolumn-list--row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.multicolumn-list--row .multicolumn-list__item {
  flex: 1 1 auto;
  min-width: 250px;
}

.multicolumn-list--row .multicolumn-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.multicolumn-list--row .multicolumn-card {
  background: none !important;
}

.multicolumn-list--row .multicolumn-card__image-wrapper {
  flex-shrink: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.multicolumn-list--row .multicolumn-card__info {
  padding: 2rem 1rem;
  flex: 1;
}

/* @media screen and (max-width: 749px) {
  .multicolumn-list--row .multicolumn-card {
    flex-direction: column;
  }
} */
